<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
  <!-- <add name="Connectionstring" connectionString="Data Source=localhost;Database=opdsystem;User ID=root;Password=1234;Integrated Security=False;CHARSET=utf8" providerName="Mysql.Data.MysqlClient"/>--> 
  <add name="Connectionstring" connectionString="Data Source=HUNGDEEOFFICIAL\SQLEXPRESS;Initial Catalog=opdproject;Integrated Security=False;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
<appSettings>
  <add key ="ValidationSettings:UnobtrusiveValidationMode" value ="None"/>
</appSettings>
</configuration>